   /* Criando as linhas coloridas animadas com opacidade /80 */
    .line {
        position: fixed;
        opacity: 0.8;
      }
  
      /* Linhas horizontais: da esquerda para a direita */
      .line-left-to-right {
        width: 100%;  /* Garante que a linha não ultrapasse a largura da tela */
        height: 2px;
        background: linear-gradient(to left, #657DBB, #03B592);
        animation: moveLeftToRight 10s infinite linear;
        opacity: 80%;
      }

  
      @keyframes moveLeftToRight {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }

  

      /* Estilos para as linhas */
      .line:nth-child(1) {
        top: 0%;
        left: 0%;
      }
  
  